body{
    background: rgb(69,247,252);
    background: linear-gradient(264deg, rgba(69,247,252,1) 35%, rgba(255,255,255,1) 85%);
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}


.tudin{
    display: grid;
    flex-direction: row;
    grid-template-areas: ". tudin ."
    ". tudin ." ;
border: 1px solid black;
background: rgb(131, 255, 245);
gap: 20px;
margin: 80px;
padding: 20px; /*espaçamento por dentro do cartão*/
align-items: center; 
border-radius: 2px;
}


.new-task-input{
    border: none;
    padding: 10px;
    border-radius: 5px;
   cursor: pointer;

}



.new-task-button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    cursor: pointer;

}

.new-task-button:hover{
    background-color: rgb(0, 200, 255);
    color: white;
    transform: scale(1.2)
}

.title img{
width: 50px;
height: 50px;
}

